
<div class="container">

	<div class="row">
		<div class="col-md-10 col-md-offset-1">

			<div class="input-group input-group-lg" style="margin-bottom: 1%;">
  				<span class="input-group-addon" id="sizing-addon1">New task</span>
  				<input ng-model="text" ng-keydown="$event.which === 13 && add(text)" type="text" class="form-control" placeholder="..." aria-describedby="sizing-addon1">
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">Todo List</div>

				<div id="comment_<%c.id%>" class="panel-body" ng-repeat="c in allComments">
					<div class="input-group">
						<span class="input-group-addon">
							<input ng-if="c.marked == 0" type="checkbox" ng-model="check" ng-change="mark(c.id)" >
							<input ng-if="c.marked == 1" type="checkbox" ng-model="uncheck" ng-click="unmark(c.id)" ng-checked="true">
						</span>
  						
  						<input ng-if="c.marked == 0" name="up" ng-model="up" ng-keydown="$event.which === 13 && update(c.id, up)" type="text" class="form-control" placeholder="<%c.text%>" aria-describedby="basic-addon2">

  						<input ng-if="c.marked == 1" name="up" ng-model="up" ng-keydown="$event.which === 13 && update(c.id, up)" type="text" class="form-control" placeholder="<%c.text%>" aria-describedby="basic-addon2" disabled>

  						<span ng-if="c.priority == 1" ng-click="priorityDown(c.id)" class="input-group-addon" id="basic-addon2" style="cursor: pointer;background:red;">P</span>
  						<span ng-if="c.priority == 0" ng-click="priorityUp(c.id)" class="input-group-addon" id="basic-addon2" style="cursor: pointer;">P</span>

  						<span ng-click="remove(c.id)" class="input-group-addon" id="basic-addon2" style="cursor: pointer;">X</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>